In [2]:
import pandas as pd
import module_import
from src.quant_analysis.module_import import ETF_0050
df = ETF_0050()

[2024-08-28 09:38:42,030][log.log][INFO]
Executing select_data_query
Args: ('stock_price', "stock_id ='0050' ORDER BY Date DESC LIMIT 500")
Kwargs: {}
Return: SELECT * FROM stock_price WHERE stock_id ='0050' ORDER BY Date DESC LIMIT 500;

# Daily Returns
### $$r_t= \frac{P_t-P_{t-1}}{P_{t-1}}$$

In [3]:
df['daily_return'] = df['Close'].pct_change(1)
df['weekly_return'] = df['Close'].pct_change(5)
df

              Close  daily_return  weekly_return
Date
2022-08-08  111.756           NaN            NaN
2022-08-09  111.662     -0.000841            NaN
2022-08-10  110.490     -0.010496            NaN
2022-08-11  112.505      0.018237            NaN
2022-08-12  113.208      0.006249            NaN
...             ...           ...            ...
2024-08-20  183.750      0.000545       0.029412
2024-08-21  181.800     -0.010612       0.005809
2024-08-22  180.850     -0.005226       0.008364
2024-08-23  180.950      0.000553      -0.013359
2024-08-26  181.250      0.001658      -0.013068

[500 rows x 3 columns]