In [1]:
import pandas as pd
import numpy as np
import module_import
from src.quant_analysis.module_import import ETF_0050, stock_2330
df_0050 = ETF_0050()
df_2330 = stock_2330()
df = pd.merge(df_0050,df_2330,right_index=True,left_index=True,how="inner")
df.rename(columns={"Close_x": "0050", "Close_y": "2330"}, inplace=True)

[2024-08-30 11:41:51,485][log.log][INFO]
Executing select_data_query
Args: ('stock_price', "stock_id ='0050' ORDER BY Date DESC LIMIT 500")
Kwargs: {}
Return: SELECT stock_id, Close, Open, High, Low, Volume, Date FROM stock_price WHERE stock_id ='0050' ORDER BY Date DESC LIMIT 500;

[2024-08-30 11:41:51,800][log.log][INFO] Query execution time: 0.12653803825378418 seconds.
[2024-08-30 11:41:51,823][log.log][INFO]
Executing select_data_query
Args: ('stock_price', "stock_id ='2330' ORDER BY Date DESC LIMIT 500")
Kwargs: {}
Return: SELECT stock_id, Close, Open, High, Low, Volume, Date FROM stock_price WHERE stock_id ='2330' ORDER BY Date DESC LIMIT 500;

[2024-08-30 11:41:51,991][log.log][INFO] Query execution time: 0.12636351585388184 seconds.

In [3]:
df_Y = df.resample('YE').last()
df_Y

               0050   2330
Date
2022-12-31  103.274  448.5
2023-12-31  131.690  593.0
2024-12-31  180.500  943.0

In [4]:
df.tail(3)

              0050   2330
Date
2024-08-27  180.45  942.0
2024-08-28  183.00  964.0
2024-08-29  180.50  943.0

In [5]:
AR = df_Y.pct_change(1)
AR

                0050      2330
Date
2022-12-31       NaN       NaN
2023-12-31  0.275152  0.322185
2024-12-31  0.370643  0.590219

In [10]:
df_M = df.resample("ME").last()
df_M.head()

                0050   2330
Date
2022-08-31  110.2090  505.0
2022-09-30   96.9486  422.0
2022-10-31   92.8251  390.0
2022-11-30  109.0380  490.0
2022-12-31  103.2740  448.5

In [11]:
df_B = df.resample("BME").last()
df_B.head()

                0050   2330
Date
2022-08-31  110.2090  505.0
2022-09-30   96.9486  422.0
2022-10-31   92.8251  390.0
2022-11-30  109.0380  490.0
2022-12-30  103.2740  448.5

In [12]:
df_S=df.resample('3s').first()
df_S.head()

                        0050   2330
Date
2022-08-11 00:00:00  112.505  514.0
2022-08-11 00:00:03      NaN    NaN
2022-08-11 00:00:06      NaN    NaN
2022-08-11 00:00:09      NaN    NaN
2022-08-11 00:00:12      NaN    NaN